*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;}


.h4{
    
    position: absolute ;
    top:  180px;
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 16px;
    
  
}
.education{
    width: 600px;
    height: 300px;
 
   
}

.animation{
    width: 9px;

}
.container{
    display: flex;
    
    margin-left: 150px;
    margin-right:150px;
    flex-wrap: wrap;
}
.card1{
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
    border:solid 1px;
    border-color: darkgrey;
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    
}
.card2{
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}.card3{
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}.card4{
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}.card5{
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}.card6{ 
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}.card7{
    font-family: 'Prompt', sans-serif ;
    font-weight:600;
    font-size: 19px;
    border:solid 1px;
    border-color: darkgrey;
    width: 300px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}
.about{
    padding-top: 150px;
    
}

.card1:hover{
    transform: scale(1.1);
    background-color:#bd1e72;
}
.card2:hover{
    transform: scale(1.1);
    background-color:#5a183b;
}
.card3:hover{
    transform: scale(1.1);
    background-color:#fd7e14;
}
.card4:hover{
    transform: scale(1.1);
    background-color:#007bff;
}
.card5:hover{
    transform: scale(1.1);
    background-color:#ffc107;
}
.card6:hover{
    transform: scale(1.1);
    background-color:#28a745;
}
.card7:hover{
    transform: scale(1.1);
    background-color:#ffc107;
}
.tehsil{
    font-family: 'Prompt', sans-serif ;
    font-weight:900 ;
    font-size: 50px;
  
    
}
.proq{
    font-family: 'Prompt', sans-serif ;
   font-weight: 100;
    font-size: 50px;
    position: absolute;
    top: 40px;

}
.info{
    font-size: 19px;
    padding-right: 60px;
    position: absolute;
    top: 120px;
    width: 550px;
    
}
.animation{
    position: absolute;
   top: 188px;
   left: 248px;
}



